In [1]:
import pandas as pd

In [2]:
aprt_2018=pd.read_csv('./apart/aprt_2018.csv', encoding='euc-kr')
aprt_2019=pd.read_csv('./apart/aprt_2019.csv', encoding='euc-kr')
aprt_2020=pd.read_csv('./apart/aprt_2020.csv', encoding='euc-kr')

In [3]:
aprt_2018.columns

Index(['구', '전용면적', '년', '월', '거래금액', '면적금액', '층', '건축년도', '도로명'], dtype='object')

In [4]:
aprt_2018_median=aprt_2018.groupby([u'구'],as_index=False)[u'전용면적'].median()
aprt_2018_median.rename(columns={u'전용면적':u'전용면적_median'},inplace=True)

In [5]:
aprt_2018_max=aprt_2018.groupby([u'구'],as_index=False)[u'전용면적'].max()
aprt_2018_max.rename(columns={u'전용면적':u'전용면적_max'},inplace=True)

In [6]:
aprt_2018_min=aprt_2018.groupby([u'구'],as_index=False)[u'전용면적'].min()
aprt_2018_min.rename(columns={u'전용면적':u'전용면적_min'},inplace=True)

In [7]:
aprt_2018_mean=aprt_2018.groupby([u'구'],as_index=False)[u'전용면적'].mean()
aprt_2018_mean.rename(columns={u'전용면적':u'전용면적_mean'},inplace=True)

In [8]:
aprt_2018_1=pd.merge(aprt_2018_median,aprt_2018_max, on=None)

In [9]:
aprt_2018_1=pd.merge(aprt_2018_1,aprt_2018_min, on=None)

In [10]:
aprt_2018_1=pd.merge(aprt_2018_1,aprt_2018_mean, on=None)

In [11]:
aprt_2018_1

       구  전용면적_median  전용면적_max  전용면적_min   전용면적_mean
0    강남구       84.900   245.200   12.1000   94.349273
1    강동구       84.230   244.590   10.3215   77.736336
2    강북구       84.705   159.280   12.0200   77.630552
3    강서구       82.880   192.220   12.2200   74.832471
4    관악구       84.100   170.110   12.2100   76.637724
5    광진구       84.720   235.410   13.8300   87.088851
6    구로구       78.665   180.880   12.4900   74.212486
7    금천구       81.160   150.720   12.0400   75.845510
8    노원구       59.400   154.270   13.0588   65.973173
9    도봉구       73.890   240.970   13.0900   72.332489
10  동대문구       84.560   181.470   12.5800   76.428396
11   동작구       84.796   219.510   12.5100   83.594276
12   마포구       84.690   245.390   12.8500   81.245323
13  서대문구       84.770   242.210   12.0800   79.967875
14   서초구       84.990   395.060   18.2000  105.024095
15   성동구       84.495   244.570   12.8400   79.461072
16   성북구       84.710   200.530   13.2800   81.242661
17   송파구       84.790   244.731   15.5400   85.474791
18   양천구       84.040   242.190   14.0200   81.576858
19  영등포구       83.590   244.970   12.0600   79.463698
20   용산구       89.820   317.360   13.0100  107.543401
21   은평구       84.590   216.140   12.2900   79.986981
22   종로구       84.330   239.484   12.0900   81.779555
23    중구       84.880   244.320   15.5500   82.960984
24   중랑구       84.030   257.260   12.0156   74.603262

In [12]:
aprt_2018_median2=aprt_2018.groupby([u'구'],as_index=False)[u'거래금액'].median()
aprt_2018_median2.rename(columns={u'거래금액':u'거래금액_median'},inplace=True)

In [13]:
aprt_2018_max2=aprt_2018.groupby([u'구'],as_index=False)[u'거래금액'].max()
aprt_2018_max2.rename(columns={u'거래금액':u'거래금액_max'},inplace=True)

In [14]:
aprt_2018_min2=aprt_2018.groupby([u'구'],as_index=False)[u'거래금액'].min()
aprt_2018_min2.rename(columns={u'거래금액':u'거래금액_min'},inplace=True)

In [15]:
aprt_2018_mean2=aprt_2018.groupby([u'구'],as_index=False)[u'거래금액'].mean()
aprt_2018_mean2.rename(columns={u'거래금액':u'거래금액_mean'},inplace=True)

In [16]:
aprt_2018_2=pd.merge(aprt_2018_median2,aprt_2018_max2, on=None)

In [17]:
aprt_2018_2=pd.merge(aprt_2018_2,aprt_2018_min2, on=None)

In [18]:
aprt_2018_2=pd.merge(aprt_2018_2,aprt_2018_mean2, on=None)

In [19]:
aprt_2018_2

       구  거래금액_median  거래금액_max  거래금액_min      거래금액_mean
0    강남구       146000    640000     15000  153279.926125
1    강동구        61900    170000      7200   65047.531859
2    강북구        42000     89550      8600   42263.483855
3    강서구        50000    134500      8600   53119.603785
4    관악구        48000     88000     11000   47146.787539
5    광진구        77500    246000      8000   80394.893125
6    구로구        41700    159000      6000   43346.993434
7    금천구        36500     92000      9000   37864.283879
8    노원구        36500    111400      8700   38802.622840
9    도봉구        33400     88000      8800   35758.010212
10  동대문구        49500    126800      9500   50771.404366
11   동작구        70000    165000     12000   70579.983801
12   마포구        74500    310000     12000   78173.337186
13  서대문구        53000    168000      9200   56374.719807
14   서초구       135000    497000     13500  146858.420458
15   성동구        78000    480000     13800   81914.599304
16   성북구        49000    129000     10500   49751.624520
17   송파구        85000    387000     16800   99193.453169
18   양천구        57000    246000      9300   65974.948209
19  영등포구        59900    269000      7563   66687.512077
20   용산구       105000    810000     12500  132284.511641
21   은평구        47800    153000     10000   48505.384067
22   종로구        57000    200000      8450   61517.681881
23    중구        68200    300000      7500   68952.680251
24   중랑구        38200    165000      8450   39454.510742

In [20]:
aprt_2018_median3=aprt_2018.groupby([u'구'],as_index=False)[u'면적금액'].median()
aprt_2018_median3.rename(columns={u'면적금액':u'면적금액_median'},inplace=True)

In [21]:
aprt_2018_max3=aprt_2018.groupby([u'구'],as_index=False)[u'면적금액'].max()
aprt_2018_max3.rename(columns={u'면적금액':u'면적금액_max'},inplace=True)

In [22]:
aprt_2018_min3=aprt_2018.groupby([u'구'],as_index=False)[u'면적금액'].min()
aprt_2018_min3.rename(columns={u'면적금액':u'면적금액_min'},inplace=True)

In [23]:
aprt_2018_mean3=aprt_2018.groupby([u'구'],as_index=False)[u'면적금액'].mean()
aprt_2018_mean3.rename(columns={u'면적금액':u'면적금액_mean'},inplace=True)

In [24]:
aprt_2018_3=pd.merge(aprt_2018_median3,aprt_2018_max3, on=None)

In [25]:
aprt_2018_3=pd.merge(aprt_2018_3,aprt_2018_min3, on=None)

In [26]:
aprt_2018_3=pd.merge(aprt_2018_3,aprt_2018_mean3, on=None)

In [27]:
aprt_2018_3

       구  면적금액_median  면적금액_max  면적금액_min    면적금액_mean
0    강남구         1649      4935       479  1702.486272
1    강동구          824      3934       297   858.389415
2    강북구          536      1170       222   563.455600
3    강서구          706      1650       185   728.966789
4    관악구          627      1285       279   642.226111
5    광진구          967      1850       337   946.456773
6    구로구          575      1352       205   595.377325
7    금천구          492      1185       226   516.087347
8    노원구          588      1595       274   601.727931
9    도봉구          475      1012       185   504.358693
10  동대문구          651      1517       279   693.121538
11   동작구          858      1705       214   879.358531
12   마포구          949      2137       361   989.607750
13  서대문구          695      1898       189   727.429580
14   서초구         1297      3648       409  1461.563085
15   성동구         1001      3159       408  1048.812522
16   성북구          601      1473       188   629.728303
17   송파구         1059      3248       354  1203.056673
18   양천구          661      2212       244   811.357382
19  영등포구          807      1931       288   845.076993
20   용산구         1142      3309       276  1198.850407
21   은평구          625      1284       143   627.247919
22   종로구          735      2172       298   764.341632
23    중구          856      1716       240   871.629310
24   중랑구          540       990       272   541.193694

In [28]:
aprt_2018_fin=pd.merge(aprt_2018_1,aprt_2018_2, on=None)

In [29]:
aprt_2018_fin=pd.merge(aprt_2018_fin,aprt_2018_3, on=None)

In [30]:
aprt_2018_fin["연도"]=2018

In [31]:
aprt_2018_fin

,구,전용면적_median,전용면적_max,전용면적_min,전용면적_mean,거래금액_median,거래금액_max,거래금액_min,거래금액_mean,면적금액_median,면적금액_max,면적금액_min,면적금액_mean,연도
0,강남구,84.900,245.200,12.1000,94.349273,146000,640000,15000,153279.926125,1649,4935,479,1702.486272,2018
1,강동구,84.230,244.590,10.3215,77.736336,61900,170000,7200,65047.531859,824,3934,297,858.389415,2018
2,강북구,84.705,159.280,12.0200,77.630552,42000,89550,8600,42263.483855,536,1170,222,563.455600,2018
3,강서구,82.880,192.220,12.2200,74.832471,50000,134500,8600,53119.603785,706,1650,185,728.966789,2018
4,관악구,84.100,170.110,12.2100,76.637724,48000,88000,11000,47146.787539,627,1285,279,642.226111,2018
5,광진구,84.720,235.410,13.8300,87.088851,77500,246000,8000,80394.893125,967,1850,337,946.456773,2018
6,구로구,78.665,180.880,12.4900,74.212486,41700,159000,6000,43346.993434,575,1352,205,595.377325,2018
7,금천구,81.160,150.720,12.0400,75.845510,36500,92000,9000,37864.283879,492,1185,226,516.087347,2018
8,노원구,59.400,154.270,13.0588,65.973173,36500,111400,8700,38802.622840,588,1595,274,601.727931,2018
9,도봉구,73.890,240.970,13.0900,72.332489,33400,88000,8800,35758.010212,475,1012,185,504.358693,2018
10,동대문구,84.560,181.470,12.5800,76.428396,49500,126800,9500,50771.404366,651,1517,279,693.121538,2018
11,동작구,84.796,219.510,12.5100,83.594276,70000,165000,12000,70579.983801,858,1705,214,879.358531,2018
12,마포구,84.690,245.390,12.8500,81.245323,74500,310000,12000,78173.337186,949,2137,361,989.607750,2018
13,서대문구,84.770,242.210,12.0800,79.967875,53000,168000,9200,56374.719807,695,1898,189,727.429580,2018
14,서초구,84.990,395.060,18.2000,105.024095,135000,497000,13500,146858.420458,1297,3648,409,1461.563085,2018
15,성동구,84.495,244.570,12.8400,79.461072,78000,480000,13800,81914.599304,1001,3159,408,1048.812522,2018
16,성북구,84.710,200.530,13.2800,81.242661,49000,129000,10500,49751.624520,601,1473,188,629.728303,2018
17,송파구,84.790,244.731,15.5400,85.474791,85000,387000,16800,99193.453169,1059,3248,354,1203.056673,2018
18,양천구,84.040,242.190,14.0200,81.576858,57000,246000,9300,65974.948209,661,2212,244,811.357382,2018
19,영등포구,83.590,244.970,12.0600,79.463698,59900,269000,7563,66687.512077,807,1931,288,845.076993,2018
20,용산구,89.820,317.360,13.0100,107.543401,105000,810000,12500,132284.511641,1142,3309,276,1198.850407,2018
21,은평구,84.590,216.140,12.2900,79.986981,47800,153000,10000,48505.384067,625,1284,143,627.247919,2018
22,종로구,84.330,239.484,12.0900,81.779555,57000,200000,8450,61517.681881,735,2172,298,764.341632,2018
23,중구,84.880,244.320,15.5500,82.960984,68200,300000,7500,68952.680251,856,1716,240,871.629310,2018
24,중랑구,84.030,257.260,12.0156,74.603262,38200,165000,8450,39454.510742,540,990,272,541.193694,2018

In [32]:
aprt_2018_fin.to_csv("aprt_2018_fin.csv", encoding='euc-kr')