In [1]:
import pandas as pd

In [2]:
aprt_2018 = pd.read_csv('./aprt_2018_fin.csv', encoding='euc-kr')
aprt_2019 = pd.read_csv('./aprt_2019_fin.csv', encoding='euc-kr')
aprt_2020 = pd.read_csv('./aprt_2020_fin.csv', encoding='euc-kr')

In [3]:
aprt_2018=aprt_2018.append(aprt_2019)
aprt_18_19_20=aprt_2018.append(aprt_2020)

In [4]:
aprt_18_19_20=aprt_18_19_20.drop(columns='Unnamed: 0')

In [5]:
aprt_18_19_20

,구,전용면적_median,전용면적_max,전용면적_min,전용면적_mean,거래금액_median,거래금액_max,거래금액_min,거래금액_mean,면적금액_median,면적금액_max,면적금액_min,면적금액_mean,연도
0,강남구,84.900,245.200,12.1000,94.349273,146000,640000,15000,153279.926125,1649.0,4935,479,1702.486272,2018
1,강동구,84.230,244.590,10.3215,77.736336,61900,170000,7200,65047.531859,824.0,3934,297,858.389415,2018
2,강북구,84.705,159.280,12.0200,77.630552,42000,89550,8600,42263.483855,536.0,1170,222,563.455600,2018
3,강서구,82.880,192.220,12.2200,74.832471,50000,134500,8600,53119.603785,706.0,1650,185,728.966789,2018
4,관악구,84.100,170.110,12.2100,76.637724,48000,88000,11000,47146.787539,627.0,1285,279,642.226111,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,용산구,84.940,317.360,13.0100,97.605635,136000,775000,15000,152195.579292,1540.0,3971,331,1594.043906,2020
21,은평구,84.170,205.960,12.2300,78.118720,63000,153000,8510,62435.462764,817.0,1741,247,827.602434,2020
22,종로구,80.850,244.937,12.0900,77.463155,74500,321000,8186,80060.838346,911.0,2590,316,1034.716792,2020
23,중구,84.880,244.470,14.0800,83.482381,90750,304000,8300,92267.565854,1110.0,2079,143,1135.674146,2020
24,중랑구,66.254,203.770,12.0156,68.791370,50000,160000,8300,50919.486207,745.0,1580,276,759.866207,2020

In [6]:
aprt_18_19_20.reset_index(inplace=True)     #참고 sort_index(ascending=False) 역순으로 정렬하기

In [7]:
aprt_18_19_20.index=aprt_18_19_20.index+1

In [8]:
aprt_18_19_20

,index,구,전용면적_median,전용면적_max,전용면적_min,전용면적_mean,거래금액_median,거래금액_max,거래금액_min,거래금액_mean,면적금액_median,면적금액_max,면적금액_min,면적금액_mean,연도
1,0,강남구,84.900,245.200,12.1000,94.349273,146000,640000,15000,153279.926125,1649.0,4935,479,1702.486272,2018
2,1,강동구,84.230,244.590,10.3215,77.736336,61900,170000,7200,65047.531859,824.0,3934,297,858.389415,2018
3,2,강북구,84.705,159.280,12.0200,77.630552,42000,89550,8600,42263.483855,536.0,1170,222,563.455600,2018
4,3,강서구,82.880,192.220,12.2200,74.832471,50000,134500,8600,53119.603785,706.0,1650,185,728.966789,2018
5,4,관악구,84.100,170.110,12.2100,76.637724,48000,88000,11000,47146.787539,627.0,1285,279,642.226111,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,20,용산구,84.940,317.360,13.0100,97.605635,136000,775000,15000,152195.579292,1540.0,3971,331,1594.043906,2020
72,21,은평구,84.170,205.960,12.2300,78.118720,63000,153000,8510,62435.462764,817.0,1741,247,827.602434,2020
73,22,종로구,80.850,244.937,12.0900,77.463155,74500,321000,8186,80060.838346,911.0,2590,316,1034.716792,2020
74,23,중구,84.880,244.470,14.0800,83.482381,90750,304000,8300,92267.565854,1110.0,2079,143,1135.674146,2020
75,24,중랑구,66.254,203.770,12.0156,68.791370,50000,160000,8300,50919.486207,745.0,1580,276,759.866207,2020

In [9]:
aprt_18_19_20=aprt_18_19_20.drop(columns='index')

In [10]:
aprt_18_19_20

,구,전용면적_median,전용면적_max,전용면적_min,전용면적_mean,거래금액_median,거래금액_max,거래금액_min,거래금액_mean,면적금액_median,면적금액_max,면적금액_min,면적금액_mean,연도
1,강남구,84.900,245.200,12.1000,94.349273,146000,640000,15000,153279.926125,1649.0,4935,479,1702.486272,2018
2,강동구,84.230,244.590,10.3215,77.736336,61900,170000,7200,65047.531859,824.0,3934,297,858.389415,2018
3,강북구,84.705,159.280,12.0200,77.630552,42000,89550,8600,42263.483855,536.0,1170,222,563.455600,2018
4,강서구,82.880,192.220,12.2200,74.832471,50000,134500,8600,53119.603785,706.0,1650,185,728.966789,2018
5,관악구,84.100,170.110,12.2100,76.637724,48000,88000,11000,47146.787539,627.0,1285,279,642.226111,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,용산구,84.940,317.360,13.0100,97.605635,136000,775000,15000,152195.579292,1540.0,3971,331,1594.043906,2020
72,은평구,84.170,205.960,12.2300,78.118720,63000,153000,8510,62435.462764,817.0,1741,247,827.602434,2020
73,종로구,80.850,244.937,12.0900,77.463155,74500,321000,8186,80060.838346,911.0,2590,316,1034.716792,2020
74,중구,84.880,244.470,14.0800,83.482381,90750,304000,8300,92267.565854,1110.0,2079,143,1135.674146,2020
75,중랑구,66.254,203.770,12.0156,68.791370,50000,160000,8300,50919.486207,745.0,1580,276,759.866207,2020

In [11]:
aprt_18_19_20.to_csv('./aprt_18_19_20.csv',encoding='euc-kr')