In [22]:
import pandas as pd

In [39]:
star_2018=pd.read_csv('./market/starbuck_2018_4.csv', encoding='euc-kr')

In [40]:
star_2019=pd.read_csv('./market/starbuck_2019_4.csv', encoding='euc-kr')
star_2020=pd.read_csv('./market/starbuck_2020_4.csv', encoding='euc-kr')

In [36]:
star_2018.columns

Index([u'상가업소번호', u'지점명', u'시군구명', u'도로명주소', u'경도', u'위도'], dtype='object')

In [38]:
star_2018.head(1)

     상가업소번호    지점명 시군구명               도로명주소          경도         위도
0  19998811  종로3가점  종로구  서울특별시 종로구 종로 113-1  126.990207  37.570585

In [41]:
star_2018=star_2018.groupby([u'시군구명'],as_index=False)[u'지점명'].count()
star_2019=star_2019.groupby([u'시군구명'],as_index=False)[u'지점명'].count()
star_2020=star_2020.groupby([u'시군구명'],as_index=False)[u'지점명'].count()

In [43]:
star_2018.rename(columns={u'지점명':"스타벅스"},inplace=True)
star_2018['연도'] = 2018
star_2019.rename(columns={u'지점명':"스타벅스"},inplace=True)
star_2019['연도'] = 2019
star_2020.rename(columns={u'지점명':"스타벅스"},inplace=True)
star_2020['연도'] = 2020

  시군구명  스타벅스    연도
0  강남구    72  2018

In [45]:
star_18_19 = star_2018.append(star_2019)

In [46]:
star_18_19_20 = star_18_19.append(star_2020)

In [48]:
star_18_19_20.to_csv('./star_18_19_20.csv', encoding='euc-kr')