In [22]:
!cd

C:\Users\admin\Desktop\point\model

In [23]:
import pymysql.cursors
# Connect to the database

In [24]:
import pandas as pd

In [25]:
import pandas_profiling

In [26]:
df = pd.read_csv('total.csv',encoding='ansi')

In [27]:
df.describe()

,id_apart,id_gu,전용면적_median,전용면적_max,전용면적_min,전용면적_mean,거래금액_median,거래금액_max,거래금액_min,거래금액_mean,...,면적금액_max,면적금액_min,면적금액_mean,pop_median,pop_max,pop_min,pop_mean,park,star,year
count,75.000000,75.000000,75.000000,75.00000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,...,75.000000,75.000000,75.000000,7.500000e+01,7.500000e+01,7.500000e+01,7.500000e+01,75.000000,75.000000,75.000000
mean,38.000000,13.000000,80.525291,225.00104,12.937257,79.285505,74838.666667,269696.666667,10245.453333,78993.140527,...,2360.826667,278.466667,994.982360,3.554551e+06,6.905653e+06,1.156711e+06,3.609580e+06,5.346667,19.773333,2019.000000
std,21.794495,7.259663,7.132165,42.77478,1.446692,8.780590,33747.480960,188675.638714,2996.898430,36769.866893,...,1148.402949,78.680561,361.972413,1.663057e+06,3.104943e+06,1.047658e+06,1.657124e+06,3.020172,17.694535,0.821995
min,1.000000,1.000000,59.240000,150.72000,10.020000,63.193554,33400.000000,88000.000000,5400.000000,35758.010210,...,990.000000,143.000000,504.358693,9.775680e+05,1.731610e+06,1.842200e+04,9.179010e+05,0.000000,1.000000,2018.000000
25%,19.500000,7.000000,79.250000,196.00500,12.085000,73.790928,49750.000000,138000.000000,8093.000000,51606.146210,...,1587.500000,217.000000,729.301136,1.670642e+06,4.223190e+06,4.458230e+05,1.787526e+06,4.000000,9.000000,2018.000000
50%,38.000000,13.000000,84.290000,234.02000,12.600000,77.736336,68200.000000,176000.000000,9000.000000,68710.921310,...,2005.000000,276.000000,914.518238,3.913378e+06,7.111269e+06,8.385440e+05,4.073517e+06,5.000000,13.000000,2019.000000
75%,56.500000,19.000000,84.720000,244.86350,13.250000,82.406710,86500.000000,322750.000000,12025.000000,92019.469630,...,2715.500000,326.500000,1175.010382,4.763592e+06,8.461600e+06,1.715046e+06,4.869434e+06,7.000000,28.000000,2020.000000
max,75.000000,25.000000,89.820000,395.06000,18.530000,107.543401,172500.000000,840000.000000,18000.000000,180834.208100,...,6970.000000,479.000000,2086.260052,6.518878e+06,1.923735e+07,6.002480e+06,7.078998e+06,16.000000,87.000000,2020.000000

In [28]:
df.columns

Index(['id_apart', 'id_gu', '전용면적_median', '전용면적_max', '전용면적_min', '전용면적_mean',
       '거래금액_median', '거래금액_max', '거래금액_min', '거래금액_mean', '면적금액_median',
       '면적금액_max', '면적금액_min', '면적금액_mean', 'pop_median', 'pop_max', 'pop_min',
       'pop_mean', 'park', 'star', 'year'],
      dtype='object')

In [29]:
type(df)

pandas.core.frame.DataFrame

In [30]:
import numpy as np
from sklearn.impute import SimpleImputer

In [31]:
data=df.values           #data frame -> array로 바꾸기

In [32]:
y=df['park']    #구하고자 하는 값

In [33]:
X=df.drop('park',axis=1) #구하고자 하는 값 제외한 것은 모두 넣고 비교

In [34]:
X.describe()

,id_apart,id_gu,전용면적_median,전용면적_max,전용면적_min,전용면적_mean,거래금액_median,거래금액_max,거래금액_min,거래금액_mean,면적금액_median,면적금액_max,면적금액_min,면적금액_mean,pop_median,pop_max,pop_min,pop_mean,star,year
count,75.000000,75.000000,75.000000,75.00000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,7.500000e+01,7.500000e+01,7.500000e+01,7.500000e+01,75.000000,75.000000
mean,38.000000,13.000000,80.525291,225.00104,12.937257,79.285505,74838.666667,269696.666667,10245.453333,78993.140527,954.833333,2360.826667,278.466667,994.982360,3.554551e+06,6.905653e+06,1.156711e+06,3.609580e+06,19.773333,2019.000000
std,21.794495,7.259663,7.132165,42.77478,1.446692,8.780590,33747.480960,188675.638714,2996.898430,36769.866893,350.782237,1148.402949,78.680561,361.972413,1.663057e+06,3.104943e+06,1.047658e+06,1.657124e+06,17.694535,0.821995
min,1.000000,1.000000,59.240000,150.72000,10.020000,63.193554,33400.000000,88000.000000,5400.000000,35758.010210,475.000000,990.000000,143.000000,504.358693,9.775680e+05,1.731610e+06,1.842200e+04,9.179010e+05,1.000000,2018.000000
25%,19.500000,7.000000,79.250000,196.00500,12.085000,73.790928,49750.000000,138000.000000,8093.000000,51606.146210,699.500000,1587.500000,217.000000,729.301136,1.670642e+06,4.223190e+06,4.458230e+05,1.787526e+06,9.000000,2018.000000
50%,38.000000,13.000000,84.290000,234.02000,12.600000,77.736336,68200.000000,176000.000000,9000.000000,68710.921310,884.000000,2005.000000,276.000000,914.518238,3.913378e+06,7.111269e+06,8.385440e+05,4.073517e+06,13.000000,2019.000000
75%,56.500000,19.000000,84.720000,244.86350,13.250000,82.406710,86500.000000,322750.000000,12025.000000,92019.469630,1119.500000,2715.500000,326.500000,1175.010382,4.763592e+06,8.461600e+06,1.715046e+06,4.869434e+06,28.000000,2020.000000
max,75.000000,25.000000,89.820000,395.06000,18.530000,107.543401,172500.000000,840000.000000,18000.000000,180834.208100,2146.000000,6970.000000,479.000000,2086.260052,6.518878e+06,1.923735e+07,6.002480e+06,7.078998e+06,87.000000,2020.000000

In [35]:
y.describe()

count    75.000000
mean      5.346667
std       3.020172
min       0.000000
25%       4.000000
50%       5.000000
75%       7.000000
max      16.000000
Name: park, dtype: float64

In [36]:
data=X.values

In [37]:
y=y.values

In [38]:
data

array([[1.000000e+00, 1.000000e+00, 8.490000e+01, ..., 1.623862e+06,
        7.200000e+01, 2.018000e+03],
       [2.000000e+00, 2.000000e+00, 8.423000e+01, ..., 2.108660e+06,
        1.000000e+01, 2.018000e+03],
       [3.000000e+00, 3.000000e+00, 8.470500e+01, ..., 1.254046e+06,
        5.000000e+00, 2.018000e+03],
       ...,
       [7.300000e+01, 2.300000e+01, 8.085000e+01, ..., 3.013604e+06,
        3.100000e+01, 2.020000e+03],
       [7.400000e+01, 2.400000e+01, 8.488000e+01, ..., 4.031902e+06,
        4.800000e+01, 2.020000e+03],
       [7.500000e+01, 2.500000e+01, 6.625400e+01, ..., 5.710217e+06,
        7.000000e+00, 2.020000e+03]])

In [39]:
data.shape

(75, 20)

In [45]:
df_trans=pd.DataFrame(data)

# 시작

### Scaling Standardization
### RFE

In [46]:
from sklearn.feature_selection import RFE
#from sklearn.tree import DecisionTreeClassifier

In [47]:
from sklearn.preprocessing import StandardScaler

In [48]:
sc = StandardScaler()

In [49]:
data=df_trans.values

In [ ]:
data_sc=sc.fit_transform(data)

In [ ]:
data_sc

In [ ]:
df_sc=pd.DataFrame(data_sc,columns=['total_bill','sex','smoker','day','time','size','tip_rate'])

In [ ]:
from sklearn.svm import SVR

In [ ]:
estimator=SVR(kernel="linear")

In [ ]:
# define RFE
rfe = RFE(estimator, n_features_to_select=4) #변수 7개 중 4개 가지기

In [ ]:
y.shape

In [ ]:
# fit RFE
selecto=rfe.fit(data_sc, y)

In [ ]:
selecto.support_

In [ ]:
df_sc.head(3)   #1,2,3이 False 즉, sex와 smoker,day가 빠졌다.

In [ ]:
,# summarize all features
for i in range(df_sc.shape[1]):
  print('Column: %d, Selected=%s, Rank: %d' % (i, rfe.support_[i], rfe.ranking_[i]))

In [ ]:
rselecto= rfe.fit_transform(data_sc, y)

In [ ]:
Selecto=pd.DataFrame(rselecto)

In [ ]:
Selecto.columns=['total_bill', 'time', 'size', 'tip_rate']

In [ ]:
Selecto.describe()

In [ ]:
X.describe()

###### Selecto.describe().round()을 Standard 하지 않은 X.describe()와 비교해보자.

In [ ]:
Selecto.profile_report()

#### HW_with 의 RFE와 비교해보자. 
#### Standard 과정을 거치지 않은 python_db_Org의 RFE는 1,3,4이 False 즉 sex, day,time가 빠졌다. 
#### Standard 과정을 거친 python_db_Standardization은 1,2,3이 False 즉, sex와 smoker,day가 빠졌다.
#### 참고로 Standard->RFE가 더 바람직하다.

##

### Scaling Normalization
### RFE

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# define the scaler
trans = MinMaxScaler()

In [ ]:
# transform the data
data_norm = trans.fit_transform(data)

In [ ]:
df_norm=pd.DataFrame(data_norm,columns=['total_bill','sex','smoker','day','time','size','tip_rate'])

In [ ]:
df_norm.describe()

In [ ]:
X.describe()

###### 기존의 데이터인 X와 비교를 해보자.

In [ ]:
estimator=SVR(kernel="linear")

In [ ]:
# define RFE
rfe = RFE(estimator, n_features_to_select=4) #변수 7개 중 4개 가지기

In [ ]:
# fit RFE
selecto=rfe.fit(data_norm, y)

In [ ]:
selecto.support_

In [ ]:
df_norm.head(3)

In [ ]:
,# summarize all features
for i in range(df_norm.shape[1]):
  print('Column: %d, Selected=%s, Rank: %d' % (i, rfe.support_[i], rfe.ranking_[i]))

In [ ]:
nselecto= rfe.fit_transform(data_norm, y)

In [ ]:
Nselecto=pd.DataFrame(nselecto)

In [ ]:
Nselecto.columns=['total_bill', 'smoker', 'size', 'tip_rate']

In [ ]:
Nselecto.describe()

In [ ]:
X.describe()

In [ ]:
Nselecto.profile_report()

#### HW_with 의 RFE,  Standard 과정과 비교하자.
#### Standard 과정을 거치지 않은 python_db_Org의 RFE는 1,3,4이 False 즉 sex, day,time가 빠졌다. 
#### Standard 과정을 거친 python_db_Standardization은 1,2,3이 False 즉, sex와 smoker,day가 빠졌다.
#### Norm 과정을 거친 python_db_Standardization은 1,3,4이 False 즉 sex, day,time가 빠졌다.
#### 참고로 Standard->RFE 혹은 Norm->RFE가 더 바람직하다. 
#### 파생변수인 tip_rate는 세 과정 중 빠지는 경우가 없으므로 매우 잘 설정한 변수이다.

# MinMaxScaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
trans = MinMaxScaler()

In [ ]:
data.shape

In [ ]:
X_norm = trans.fit_transform(data)

In [ ]:
df_norm=pd.DataFrame(X_norm)

In [ ]:
df_norm.describe().round()

# Data Standardization

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
df_sc=sc.fit_transform(data)

In [ ]:
df_trsfrom_sc=pd.DataFrame(df_sc)

In [ ]:
df_trsfrom_sc.describe().round() #정규화가 끝나서 평균0, 분산1

# PCA

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
# define the transform
trans = PCA(n_components=4)

In [ ]:
# transform the data
X_dim = trans.fit_transform(datatrans)

In [ ]:
# summarize data after the transform
print(X_dim[:3, :]) #X_dim은 array라서 describe(),info() 불가

In [ ]:
x_dim=pd.DataFrame(X_dim)

In [ ]:
x_dim.describe().round()

# Regression Feature Selection

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [ ]:
# define feature selection
fs = SelectKBest(score_func=f_regression, k=4)

In [ ]:
datatrans.shape

In [ ]:
y.shape

In [ ]:
# apply feature selection / 행이 같으므로 값이 나온다.
X_selected = fs.fit_transform(datatrans, y)
print(X_selected.shape)

#### rfe는 독립변수들과 목표변수와의 관계를 통해 차원을 축소시키고
#### pca는 독립변수들끼리의 상관관계만으로만 차원을 축소시킨다.

In [ ]:
#예전에 공부했던 내용들

In [ ]:
df.total_bill

In [ ]:
df['total_bill']

In [ ]:
df['total_bill'].hist()

In [ ]:
#새출발

In [ ]:
import pymysql.cursors
import pandas as pd

In [ ]:
sql="select customers.customerName, payments.checkNumber from customers left join payments on customers.customerNumber=payments.customerNumber where payments.paymentDate >= '2004-10-06';"

In [ ]:
conn = pymysql.connect(host='localhost', user='me', 
                       password='9421', db='classicmodels', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)
try:

   with conn.cursor() as curs:
      curs.execute(sql)
      rs = curs.fetchall()

      # DB에서 받아온 값을 DataFrame에 넣음

      df = pd.DataFrame(rs)
      print(df)
    
    #df.to_csv('query.csv')

finally:

   conn.close()

In [ ]:
df.to_csv('query_car.csv')