In [1]:
import pandas as pd

In [2]:
pop=pd.read_csv('./flot_pop_18_19_20_result.csv',encoding='ansi')

In [3]:
pop.head(1)

,Unnamed: 0,year,id,gu,pop,index,Unnamed: 6,평균,최소,최대,Unnamed: 10,id_popul,id_구,구,평균_유동인구_수,연도
0,0,2020,18,송파구,9692443,0,NaN,1623862.03,124909.0,3353102.0,NaN,1.0,1.0,강남구,1623862.0,2018.0

In [4]:
pop[(pop['year']==2020) & (pop['gu']=='송파구')]

,Unnamed: 0,year,id,gu,pop,index,Unnamed: 6,평균,최소,최대,Unnamed: 10,id_popul,id_구,구,평균_유동인구_수,연도
0,0,2020,18,송파구,9692443,0,NaN,1623862.030,124909.0,3353102.0,NaN,1.0,1.0,강남구,1623862.0,2018.0
12,12,2020,18,송파구,8187391,12,NaN,2114718.441,791963.0,4287655.0,NaN,13.0,13.0,마포구,2202555.0,2018.0
13,13,2020,18,송파구,3999803,13,NaN,1762669.792,391017.0,4961531.0,NaN,14.0,14.0,서대문구,2141951.0,2018.0
14,14,2020,18,송파구,3832525,14,NaN,1688277.115,536562.0,3891776.0,NaN,15.0,15.0,서초구,1688277.0,2018.0
15,15,2020,18,송파구,4786824,15,NaN,1542166.104,553748.0,3329071.0,NaN,16.0,16.0,성동구,1542166.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,3097,2020,18,송파구,6078370,3097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3080,3098,2020,18,송파구,4983852,3098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3081,3099,2020,18,송파구,5418450,3099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3082,3100,2020,18,송파구,5654666,3100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3129,3147,2020,18,송파구,4287709,3147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pop[(pop['year']==2020) & (pop['gu']=='송파구')].mean()[3]

5044524.080882353

In [6]:
gus =[]
for gu in pop['gu']:
    gus.append(gu)
guss=set(gus)

In [7]:
set(pop['year'])

{2018, 2019, 2020}

In [8]:
ye=[]
for year in set(pop['year']):
    ye.append(year)
ye

[2018, 2019, 2020]

In [9]:
gus_median = pd.DataFrame(columns=['id_popul','id_gu','gu','median','mean','year'])

In [10]:
for year in set(pop['year']): 
    for gus in guss:
        gus_median=gus_median.append(pd.DataFrame([[0,0,gus,
                        round(pop[(pop['year']==year) & (pop['gu']==gus)].median()[3]),
                        round(pop[(pop['year']==year) & (pop['gu']==gus)].mean()[3]),
                          year]],columns=['id_popul','id_gu','gu','median','mean','year']),ignore_index=True)
gus_median

   id_popul id_gu    gu   median     mean  year
0         0     0   양천구   977568  1005704  2018
1         0     0   성동구  1435284  1542166  2018
2         0     0  영등포구  1470918  1509473  2018
3         0     0   관악구  1502106  1817603  2018
4         0     0   강남구  1579142  1623862  2018
..      ...   ...   ...      ...      ...   ...
70        0     0   송파구  4963512  5044524  2020
71        0     0   금천구  3229338  3195136  2020
72        0     0   종로구  2919470  3013604  2020
73        0     0   동작구  4434030  4396651  2020
74        0     0   구로구  3578876  3624955  2020

[75 rows x 6 columns]