In [1]:
import numpy as np
import pandas as pd
from urllib.request import urlopen
from urllib import parse
from urllib.request import Request
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import json

In [2]:
#naver map api key
client_id = '';    # 본인이 할당받은 ID 입력
client_pw = '';    # 본인이 할당받은 Secret 입력

api_url = 'https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query='

In [4]:

# 주소 목록 파일 (.csv)
data = pd.read_csv('pop_fin.csv',encoding='utf8')
# 주소 목록 파일 (.xlsx)
# data = pd.read_csv('C:/Users/admin/Desktop/dlrl.csv',encoding='ansi')

In [21]:
data2 = pd.read_csv('seoul_pop_g3b4.csv',encoding='utf8')

In [22]:
data2 = data2.iloc[:2,]

In [25]:
data2['road'] = data2['seoul']+' '+data2['gu']+' '+data2['도로명']

In [26]:
data2

,year,seoul,gu,emd,pop_total,도로명,도로명_합,pop_average,road
0,2020,서울특별시,강남구,청담동,3909208,학동로77길,서울특별시강남구학동로77길,4030935.819,서울특별시 강남구 학동로77길
1,2020,서울특별시,강남구,논현1동,4204012,학동로6길,서울특별시강남구학동로6길,4030935.819,서울특별시 강남구 학동로6길

In [31]:
data3 = pd.read_csv('./seoul_popssss.csv',encoding='ansi')

In [35]:
data4=data3.iloc[:,:7]

In [37]:
data4.drop(columns=['기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드'],inplace=True)

In [39]:
data4.rename(columns={'기준_년_코드':'year','상권_코드_명':'road','총_생활인구_수':'pop'},inplace=True)

In [46]:
data4

       year      road      pop
0      2021   풍성로37가길  9759687
1      2021      천호옛길  8699419
2      2021    천호옛14길  7252275
3      2021  천호대로219길  1457777
4      2021  천호대로197길  5802224
...     ...       ...      ...
13125  2018      백석동길    52333
13126  2018       명륜길  1400238
13127  2018  돈화문로11가길  1747636
13128  2018    난계로27길  2304441
13129  2018       계동길   590419

[13130 rows x 3 columns]

In [42]:
data5 = data4.iloc[:2,]

In [45]:
data5

   year     road      pop
0  2021  풍성로37가길  9759687
1  2021     천호옛길  8699419

In [44]:
geo_coordi = []     

# for add in ['서울역','역삼역']:
for add in data5['road']:
#     add2 = '서울특별시 '+add
    add_urlenc = parse.quote(add)
#     add_urlenc = add
    url = api_url + add_urlenc
    print(url)
    request = Request(url)
    request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
    request.add_header('X-NCP-APIGW-API-KEY', client_pw)
    try:
        response = urlopen(request)
    except HTTPError as e:
        print('HTTP Error!')
        latitude = None
        longitude = None
    else:
        rescode = response.getcode()
        if rescode == 200:
            response_body = response.read().decode('utf-8')
            response_body = json.loads(response_body)   # json
            if response_body['addresses'] == [] :
                print("'result' not exist!")
                latitude = None
                longitude = None
            else:
                latitude = response_body['addresses'][0]['y']
                longitude = response_body['addresses'][0]['x']
                print(response_body)
                print("Success!")
        else:
            print('Response error code : %d' % rescode)
            latitude = None
            longitude = None

    geo_coordi.append([latitude, longitude])

print(geo_coordi)

https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=%ED%92%8D%EC%84%B1%EB%A1%9C37%EA%B0%80%EA%B8%B8
'result' not exist!
https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=%EC%B2%9C%ED%98%B8%EC%98%9B%EA%B8%B8
'result' not exist!
[[None, None], [None, None]]

In [7]:
geo_coordi

[['37.5196312', '127.0187718'],
 ['37.5130739', '127.0117668'],
 ['37.5048477', '127.0048951'],
 ['37.4948912', '127.0173808'],
 ['37.4866487', '127.0153635'],
 ['37.4870004', '127.0466934'],
 ['37.5325585', '126.8462563'],
 ['37.5724334', '126.9769020'],
 ['37.5714809', '126.9918969'],
 ['37.5665336', '126.9965401'],
 ['37.5646558', '127.0056069'],
 ['37.5603611', '127.0138788'],
 ['37.5624304', '127.0603233'],
 ['37.5403541', '127.1258332'],
 ['37.4923606', '127.0307188'],
 ['37.4905423', '127.0089712'],
 ['37.4812897', '126.9970307'],
 ['37.5372254', '127.1348042'],
 ['37.5460517', '127.1432073'],
 ['37.5512570', '127.1440039'],
 ['37.5556292', '127.1538847'],
 ['37.5535023', '127.1569018'],
 ['37.5165606', '127.1311459'],
 ['37.5080279', '127.1254567'],
 ['37.5034262', '127.1261696'],
 ['37.4985772', '127.1338152'],
 ['37.4942534', '127.1420291'],
 ['37.4944609', '127.1519774'],
 [None, None],
 ['37.5870736', '127.2086664'],
 ['37.5794275', '127.2226848'],
 ['37.5468290', '127.2438252'],
 ['37.5550752', '127.3093055'],
 ['37.5016484', '126.9861974'],
 ['37.5030771', '126.9956789'],
 ['37.5044038', '127.0138284'],
 ['37.5066664', '127.0320283'],
 ['37.5067512', '127.0331345'],
 ['37.5105380', '127.0446149'],
 ['37.5116435', '127.0485228'],
 ['37.5147756', '127.0632544'],
 ['37.5111052', '127.0743038'],
 ['37.5041869', '127.0873125'],
 ['37.5032016', '127.0969608'],
 ['37.5034080', '127.1105311'],
 ['37.5109720', '127.1127478'],
 ['37.5162334', '127.1176541'],
 ['37.5185260', '127.1408949'],
 ['37.5283503', '127.1483612'],
 ['37.4745403', '126.6336622'],
 ['37.5189465', '127.1047791'],
 ['37.5140700', '127.1020686'],
 ['37.5115507', '127.0892316'],
 ['37.5031250', '127.0483602'],
 ['37.5008625', '127.0405969'],
 ['37.4875511', '126.9129674'],
 ['37.4847852', '127.0333887'],
 ['37.4907159', '127.0549282'],
 ['37.4945230', '127.0632574'],
 ['37.4967291', '127.0718201'],
 ['37.4936600', '127.0795882'],
 ['37.4840034', '127.0844609'],
 ['37.4882619', '127.1005851'],
 ['37.4929149', '127.1182195'],
 ['37.4982785', '127.1256429'],
 ['37.6358401', '127.0320254'],
 ['37.6294588', '127.0247638'],
 ['37.6150008', '127.0300366'],
 ['37.5821380', '127.0018129'],
 ['37.5706272', '127.0094409'],
 ['37.5612197', '126.9943361'],
 ['37.5615036', '126.9856972'],
 ['37.5588697', '126.9776459'],
 ['37.5031553', '126.9780360'],
 ['37.4643708', '126.9892833'],
 ['37.6706137', '127.0793326'],
 ['37.6610759', '127.0736255'],
 ['37.6535198', '127.0608257'],
 ['37.6603591', '127.0499618'],
 ['37.6490566', '127.0350987'],
 ['37.5772645', '126.8126727'],
 ['37.5723387', '126.8057580'],
 ['37.5650643', '126.8030020'],
 ['37.5614699', '126.8105222'],
 ['37.5602636', '126.8250650'],
 ['37.5590293', '126.8373107'],
 ['37.5492396', '126.8364140'],
 ['37.5412362', '126.8407820'],
 ['37.5378114', '127.1399992'],
 ['37.5481914', '127.0070540'],
 ['37.5547626', '127.0105102'],
 ['37.5672613', '127.0162380'],
 ['37.5736026', '127.0171538'],
 ['37.5794528', '127.0152012'],
 ['37.6158785', '127.0654107'],
 ['37.6191471', '127.0751544'],
 ['37.6199147', '127.0832826'],
 ['37.6164213', '127.0933292'],
 ['37.7001641', '127.0531231'],
 ['37.6884447', '127.0460557'],
 ['37.6774663', '127.0553673'],
 ['37.6676209', '127.0570330'],
 ['37.6426945', '127.0651848'],
 ['37.6352547', '127.0685377'],
 ['37.6257670', '127.0727600'],
 ['37.6108680', '127.0777268'],
 ['37.6017163', '127.0790680'],
 ['37.5967697', '127.0860401'],
 ['37.5892231', '127.0873732'],
 ['37.5802723', '127.0880288'],
 ['37.5740376', '127.0870757'],
 ['37.5197343', '127.0566501'],
 ['37.5182116', '127.0472408'],
 ['37.5142978', '127.0317686'],
 ['37.5082994', '127.0118330'],
 ['37.4881302', '126.9932212'],
 ['37.4851732', '126.9811683'],
 ['37.4847432', '126.9711309'],
 ['37.4958272', '126.9540726'],
 ['37.5035133', '126.9473048'],
 ['37.5047166', '126.9410854'],
 ['37.4996505', '126.9277072'],
 ['37.4995689', '126.9205752'],
 ['37.5511668', '127.1282309'],
 ['37.5301094', '127.1217993'],
 ['37.5169881', '127.1107741'],
 ['37.5764697', '127.0259678'],
 ['37.5754677', '127.0384288'],
 ['37.4998704', '127.1121190'],
 ['37.4877691', '127.1215243'],
 ['37.4775900', '127.1266254'],
 ['37.4706674', '127.1267183'],
 ['37.5779770', '126.7981512'],
 ['37.5636243', '126.8106056'],
 ['37.5673772', '126.8163954'],
 ['37.5668378', '126.8263321'],
 ['37.5687037', '126.8407863'],
 ['37.5617586', '126.8539975'],
 ['37.5575623', '126.8615905'],
 ['37.5511810', '126.8648077'],
 ['37.5470658', '126.8751794'],
 ['37.5135875', '126.9409150'],
 ['37.5140994', '126.9547824'],
 ['37.5085401', '126.9640250'],
 ['37.5798279', '127.0460420'],
 ['37.5997309', '127.0661667'],
 ['37.6052012', '127.0691294'],
 ['37.6234147', '127.0622709'],
 ['37.6290399', '127.0586793'],
 ['37.6405518', '127.0528449'],
 ['37.6656070', '127.0444600'],
 ['37.6751972', '127.0449044'],
 ['37.7160363', '127.0469740'],
 ['37.7236630', '127.0421532'],
 ['37.7318643', '127.0485674'],
 ['37.7479028', '127.0443462'],
 ['37.7538886', '127.0413599'],
 ['37.6127047', '127.1038417'],
 ['37.6479560', '127.1437422'],
 ['37.6513614', '127.1773143'],
 ['37.6375692', '127.2084569'],
 ['37.6518137', '127.2359876'],
 ['37.6592157', '127.2854818'],
 ['37.6611169', '127.3049880'],
 ['37.4791114', '126.5064757'],
 ['37.4591088', '126.4773618'],
 ['37.4899455', '126.5782591'],
 ['37.4520560', '127.0023874'],
 ['37.4439415', '127.0075250'],
 ['37.4329059', '126.9969580'],
 ['37.4274916', '126.9914342'],
 ['37.4992043', '127.0515905'],
 ['37.4870210', '127.0590070'],
 ['37.4899670', '127.0696627'],
 ['37.4916992', '127.0736422'],
 ['37.5294432', '127.0412672'],
 ['37.5662170', '126.9902233'],
 ['37.5660678', '126.9820761'],
 ['37.5635845', '126.9755321'],
 ['37.5785945', '127.0388965'],
 ['37.5710353', '127.0019443'],
 ['37.5702343', '126.9814100'],
 ['37.5757632', '126.9732092'],
 ['37.5769543', '126.9845257'],
 ['37.4688635', '126.6253582'],
 ['37.5592255', '127.0051248'],
 ['37.5116435', '127.0485228'],
 ['37.6628478', '127.0127518'],
 ['37.6561724', '127.0130201'],
 ['37.6494781', '127.0134941'],
 ['37.6417125', '127.0169664'],
 ['37.6340065', '127.0173450'],
 ['37.6269426', '127.0181667'],
 ['37.6213167', '127.0202589'],
 ['37.6202313', '127.0133802'],
 ['37.5903931', '127.0566115'],
 ['37.6162274', '127.0767928'],
 ['37.5992529', '127.0912672'],
 ['37.6074975', '127.1069715'],
 ['37.5235421', '127.0283232'],
 ['37.6079504', '127.1593247']]

In [9]:
np_geo_coordi = np.array(geo_coordi)
pd_geo_coordi = pd.DataFrame({'subway_st'
                            "gibun": data['지번주소'].values,
                              "lng": np_geo_coordi[:, 0],
                              "lat": np_geo_coordi[:, 1]})

pd_geo_coordi.to_csv('./subway_point.csv', encoding=ding='ansi')